*{
    box-sizing: border-box;
    margin: 0;
}
h1{
    font-family: 'Maghfirea', sans-serif;
}
body{
background-color: #EEEDDE;
}
.main-content{
    position: relative;
}
.calculator{
    position: absolute;
    left: 500px;
    text-align: center;
}